.cardContainer {
  background: #ffffff;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  width: 325px;
  padding: 48px 24px;
}
.heading {
  font-family: "Kumbh Sans";
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #1e1f36;
  text-align: center;
  margin-bottom: 38px;
}
